<div
  id="map"
  leaflet
  [leafletOptions]="options"
  [leafletLayersControl]="layersControl"
  style="height: calc(100% - 120px); width: 100%;"
  (leafletMapReady)="onMapReady($event)"
  (leafletDoubleClick)="onDblClickPutMarker($event)"
>
  <div *ngIf="destination" [leafletLayer]="destination"></div>
  <div *ngFor="let lineRoute of lineRoutesSelected" [leafletLayer]="lineRoute"></div>
  <div *ngFor="let lineRoute of nearestLinesRoutes" [leafletLayer]="lineRoute"></div>
</div>

<app-sidebar #sidebar [lines]="lines" [result]="lines" [myLocation]="myLocation"
             [destination]="destination"
             (lineSelected)="lineSelected($event)"
             (onShowNearestLinesRoutes)="onShowNearestLinesRoutes()"
             (onPlaneTravel)="planeTravel()"
></app-sidebar>
