<div id="sidebar" class="leaflet-sidebar collapsed">
  <div class="leaflet-sidebar-tabs">
    <ul role="tablist">
      <li><a href="#lines" role="tab"><i class="fa fa-bars"></i></a></li>
      <li><a href="#lines-nearest" role="tab"><i class="fa fa-map-marker"></i></a></li>
      <li><a href="#plane-travel" role="tab"><i class="fa fa-route"></i></a></li>
    </ul>
  </div>

  <div class="leaflet-sidebar-content">
    <div class="leaflet-sidebar-pane" id="lines">
      <div class="text-center my-3">
        <p class="h2 mx-2 mt-2">Micros
          <img src="assets/images/autobus.png" alt="Icon" class="icon-bus mx-2"/>
        </p>
      </div>
      <app-lines-list [linesNames]="result" [result]="result" (lineSelected)="onLineSelected($event)"></app-lines-list>
    </div>

    <div class="leaflet-sidebar-pane" id="lines-nearest">
      <div class="text-center my-3">
        <p class="h2 text-center mt-2">
          Líneas cerca de mí
        </p>
      </div>
      <div class="text-center">
        <ng-container *ngIf="myLocation; else notMyLocation">
          <ng-container
            *ngIf="!loadingNearestLines; else loadingNearestLinesH"
          >
            <button
              class="btn btn-success btn-block mx-1 mb-4 px-4 py-3 my-3"
              (click)="showNearestLinesRoutes()"
            >
              <span class="h5">
              Ver líneas cerca de mí
              </span>
            </button>
            <app-lines-list [linesNames]="linesNearest" [result]="linesNearest" (lineSelected)="onLineSelected($event)"></app-lines-list>
          </ng-container>
          <ng-template #loadingNearestLinesH>
            <div class="d-flex justify-content-center">
              <div class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Cargando...</span>
              </div>
            </div>
          </ng-template>
        </ng-container>
        <ng-template #notMyLocation>
          <div class="alert alert-danger">
            <h2>
              Active su ubicación primero...
            </h2>
          </div>
        </ng-template>
      </div>
    </div>

    <div class="leaflet-sidebar-pane" id="plane-travel">
      <div class="text-center my-3">
        <p class="h2 mx-2 mt-2">Viaje en micro(s)
          <i class="fa fa-route mx-2"></i>
        </p>
        <ng-container *ngIf="myLocation; else notMyLocation">
          <ng-container *ngIf="destination; else notDestination">
            <button class="btn btn-success btn-block mx-1 mb-4 px-4 py-3 my-3" (click)="planeTravel()">
              <span class="h5">
                Planear viaje
              </span>
            </button>
          </ng-container>
          <ng-template #notDestination>
            <div class="alert alert-danger">
              <h2>
                Marque un destino...
              </h2>
            </div>
          </ng-template>
        </ng-container>
      </div>
    </div>
  </div>
</div>
