.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #ffffff;
}

.logo-micro {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}
